*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(246, 215, 221);
}

/* header section styling starts here  */

.adminnav{
    padding-bottom: 5rem;
}

.header{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px auto;
    width: 90%;
    padding: 8px;
    background: linear-gradient(2deg, #19a9dd, #00df98);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}

.headerTitle{
    font-size: 30px;
    text-align: center;
    color: wheat;
}

.username{
    color: white;
    margin-left: 65rem;
}

/* header section styling ends here  */

/* section2 styling starts here  */


.buttons{
    display: flex;
    justify-content: space-evenly;
}

.container{
    margin: 3rem 3.55rem;
}

.adminBtn{
    font-size: 20px;
    padding: 4px 8px;
    
}

.section2{
    padding: 15px 10px;
    margin: 30px 0px;
}

#querySec{
    display: none;
}

#replySec{
    display: none;
}

.adminBtn{
    border: 1.7px black solid;
    border-radius: 5px;
    background: transparent;
    padding: 5px 10px;
}

.adminBtn:hover{
    background-color: black;
    color: rgb(235, 9, 88);
    cursor: pointer;
    transition: 0.8s;
}

.admin:active{
    background-color: black;
    color: rgb(235, 9, 88);
}

.admin:focus{
    background-color: black;
    color: rgb(235, 9, 88);
}

.query{
    background: #dcc5f6;
    display: flex;
    margin: 15px 0px;
    padding: 10px 14px;
    border-radius: 8px;
}

.userProfile{
    width: 2.5rem;
    height: 2rem;
}

.queryDetails{
    margin: 0px 15px;
}

.queryTitle{
    color: rgb(10, 124, 231);
    font-weight: 500;
    text-decoration: none;
}


.queryTitle:hover{
    cursor: pointer;
    text-decoration: underline 1.3px;
}

.queryDesc{
    color: rgb(68, 68, 68);
    padding-top: 5px;
}

.userName{
    font-size: 14px;
    color: rgb(128, 128, 128);
    margin-top: 5px;
}

.queryStats{
    display: flex;
    margin-left: auto;
    margin-right: 10rem;
}

.deleteBtn{
    margin-left: 70rem;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    background: red;
    margin-bottom: 25px;
    border-radius: 8px;
}

.deleteBtn:hover{
    cursor: pointer;
    color: white;
    background: rgb(209, 0, 0);
}


/* reolySec  */

.replyDetails{

    background: rgb(253, 194, 199);
    color: rgb(55, 3, 3);
    border-radius: 5px;
    padding: 30px;
    width: 95%;
    margin-bottom: 10px;
}

.replyDesc{
    font-size: 17px;
}

.queryTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.user{
    display: flex;
    padding: 10px 0px;
    position: relative;
    left: 60rem;
    width: 19rem;
}

.userProfile{
    width: 2rem;
    height: 1.5rem;
    padding: 5px;
}


.userName{
    font-size: 16px;
    color: rgb(55, 55, 55);
    margin-top: 2px;
}
/* section2 styling ends here  */