*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(246, 215, 221);
}

/* header section styling starts here  */

.adminnav{
    padding-bottom: 5rem;
}

.header{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px auto;
    width: 90%;
    padding: 8px;
    background: linear-gradient(2deg, #19a9dd, #ab00df);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}

.headerTitle{
    font-size: 30px;
    text-align: center;
    color: wheat;
}

.username{
    color: white;
    margin-left: 65rem;
}

/* header section styling ends here  */

/* section2 styling starts here  */


.buttons{
    display: flex;
    justify-content: space-evenly;
}

.container{
    margin: 3rem 3.55rem;
}

.adminBtn{
    font-size: 20px;
    padding: 4px 8px;
    
}

.section2{
    padding: 15px 10px;
    margin: 30px 0px;
}

#querySec{
    display: none;
}

#replySec{
    display: none;
}

.adminBtn{
    border: 1.7px black solid;
    border-radius: 5px;
    background: transparent;
    padding: 5px 10px;
}

.adminBtn:hover{
    background-color: black;
    color: rgb(235, 9, 88);
    cursor: pointer;
    transition: 0.8s;
}

.admin:active{
    background-color: black;
    color: rgb(235, 9, 88);
}

.admin:focus{
    background-color: black;
    color: rgb(235, 9, 88);
}

.query{
    background: #dcc5f6;
    display: flex;
    margin: 15px 30px;
    padding: 10px 14px;
    border-radius: 8px;
    flex-direction: column;
}

.userProfile{
    width: 2.5rem;
    height: 2rem;
}

.queryDetails{
    margin: 0px 15px;
}

.queryTitle{
    color: rgb(10, 124, 231);
    font-weight: 500;
    text-decoration: none;
}


.queryTitle:hover{
    cursor: pointer;
    text-decoration: underline 1.3px;
}

/* .queryTitle:hover{
    cursor: pointer;
    text-decoration: underline;
} */

.queryDesc{
    color: rgb(68, 68, 68);
    padding-top: 5px;
}

.userName{
    font-size: 14px;
    color: rgb(128, 128, 128);
    margin-top: 5px;
}

.queryStats{
    display: flex;
    margin-left: auto;
    margin-right: 10rem;
}

.deleteBtn{
    margin-left: 75rem;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    background: red;
    margin-bottom: 25px;
    border-radius: 8px;
}

.deleteBtn:hover{
    cursor: pointer;
    color: white;
    background: rgb(209, 0, 0);
}


/* category sec  */

.categoryForm{
    background: rgb(183, 127, 247);
    border-radius: 10px;
    padding: 15px 30px
}

.category{
    display: flex;
}


.cat{
    display: flex;
    flex-direction: column;
    margin: 8px 15px;
}

.categoryText{
    padding: 10px 0px;
    font-weight: 600;
    color: black;
}

#categoryInputName{
    width: 58.7rem;
    font-size: 18px;
    padding: 5px;
}

#categoryType{
    padding: 5px;
    font-size: 17px;
}

.addSubmit{
    background: rgb(229, 229, 15);
    font-size: 20px;
    color: rgb(162, 11, 11);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    margin: 0.5rem 66rem;
    border: solid 1px white;
}

.addSubmit:hover{
    cursor: pointer;
    background-color: #c0320b;
    color: white;
    transition: 1s;
}

.catHeading{
    margin: 45px 0px 18px 0px;
}

.categories{
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
    font-size: 20px;
    border-radius: 8px;
}

.categoryInput{
    border: none;
    background: rgb(188, 226, 240);
    font-size: 16px;
    padding: 8px;
    margin: 15px 0px;
    border-radius: 7px;
}

.catbtns{
    display: flex;
    justify-content: flex-end;
}

.btn{
    font-size: 18px;
    padding: 8px 10px;
    margin: 0px 7px;
    border-radius: 7px;
}

.btn:hover{
    cursor: pointer;
}

#updateCat{
    background-color: green;
    color: white;
}
#updateCat:hover{
    background-color: rgb(8, 173, 44);
}

#deleteCat{
    background-color: red;
    color: white;
}

#deleteCat:hover{
    background-color: rgb(184, 4, 4);
}



/* replySec  */

.replyDetails{

    background: rgb(253, 194, 199);
    color: rgb(55, 3, 3);
    border-radius: 5px;
    padding: 30px;
    width: 91%;
    margin: 0px auto;
    margin-bottom: 10px;
}

.replyDesc{
    font-size: 17px;
}


.user{
    display: flex;
    padding: 10px 0px;
    position: relative;
    left: 65rem;
    width: 19rem;
}

.userProfile{
    width: 2rem;
    height: 1.5rem;
    padding: 5px;
}


.userName{
    font-size: 16px;
    color: rgb(55, 55, 55);
    margin-top: 2px;
}
/* section2 styling ends here  */


/* alert styling starts here  */

.alert {
    padding: 20px;
    background-color: #0bce28;
    color: white;
    margin-bottom: 15px;
    margin-top: -10px;
  }
  

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
 
  .closebtn:hover {
    color: black;
  }


/* alert styling ends here  */


.error{
    align-items: center;
    margin: 7rem 30rem;
}

.caution_icon{
    width: 10rem;
    margin: 0 6rem;
}

.errorMessge{
    color: red;
    font-size: 20px;
    font-weight: 600;
}